<div class="row">
  <div class="col-xs-12">
    <div class="panel-heading">
      <h3 class="panel-title text-center"><%= t(:edit) %> - <%= @statement.title %>
    </div>
    <div class="panel-body">
      <%= form_with model: @statement, local: true do |f| %>
      <div class="row">
        <div class="col-xs-12">
          <%= f.text_field :title, class: 'form-control'  %>
        </div>
        <div class="col-xs-12">
          <%= f.text_area :text, class: 'form-control' %>
        </div>
        <div class="col-xs-12">
          <%= f.button :submit %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
