<h4>
  Languages:
  <br/>
  <% Language.all.each do |language| %>
  > <%= language.language %> <br/>
  <% end %>
</h4>

<h4>
  Contacts:
  <br/>
  <% Contact.all.each do |contact| %>
  > <%= contact.name %> <br/>
  <% end %>
</h4>

<h4>
  Links:
  <br/>
  <% RelevantLink.all.each do |link| %>
  > <%= link.name %> <br/>
  <% end %>
</h4>

<h4>
  Statements:
  <br/>
  <% Statement.all.each do |statement| %>
  > <%= statement.title %> <br/>
  > <%= statement.text %> <br/>
  <% end %>
</h4>

<h4>
  Topics:
  <br/>
  <% QuestionTopic.all.each do |topic| %>
  > <%= topic.name %> <br/>
  <% end %>
</h4>

<h4>
  Questions:
  <br/>
  <% Question.all.each do |question| %>
  > <%= question.question %> <br/>
  <% end %>
</h4>
