<%= t(:hello) %><br/>
<%= I18n.locale %> <br/>
<%= Current.language.code %> <br/>


<h4>
  Languages:
  <br/>
  <% Language.all.each do |language| %>
  > <%= language.language %> <br/>
  <% end %>
  <%= link_to 'eng', root_path(:en) %><br/>
  <%= link_to 'pt', root_path %><br/>
</h4>
<% current_language = Language.find_by(language_id: I18n.locale ) %>

<h4>
  Contacts:
  <br/>
  <% Contact.where(language: current_language).each do |contact| %>
  > <%= contact.name %> <br/>
  <% end %>
</h4>

<h4>
  Links:
  <br/>
  <% RelevantLink.where(language: current_language).each do |link| %>
  > <%= link.name %> <br/>
  <% end %>
</h4>

<h4>
  Statements:
  <br/>
  <% Statement.where(language: current_language).each do |statement| %>
  > <%= statement.title %> <br/>
  > <%= statement.text %> <br/>
  <% end %>
</h4>

<h4>
  Topics:
  <br/>
  <% QuestionTopic.where(language: current_language).each do |topic| %>
  > <%= topic.name %> <br/>
    <% topic.questions.each do |question| %>
    > <%= question.question %> <br/>
    > <%= question.answer %> <br/>
    <% end %>
  <% end %>
</h4>



<h4>
  Study:
  <br/>
  <% Study.where(language: current_language).each do |study| %>
  > <%= study.title %> <br/>
    <% study.study_fields.each do |field| %>
    > <%= field.title %> <br/>
      <% field.study_variables.each do |variable| %>
      > <%= variable.name %>( <%= variable.study_field.title %> ) <br/>
      <% end %>
    <% end %>
  <% end %>
</h4>
