<div id="project">
  <div class="project__container">
    <div class="project__tab-header">
      <div class="project__tab-title" data-tab="tab-1">
        <p><%= Current.language.statements.find_by(code: 'projeto').title %></p>
      </div>
      <div class="project__tab-title" data-tab="tab-2">
        <p><%= t('project.study') %></p>
      </div>
    </div>
    <div class="project__tab-division" data-tab-division="tab-1"></div>
    <div class="project__tab-body">
      <div class="project__tab-content --body-active" data-tab-active="tab-1" style="text-align: justify">
        <p><%= sanitize Current.language.statements.find_by(code: 'projeto').text %></p>
      </div>
      <div class="project__tab-content" data-tab-active="tab-2">
        <div class="row">
          <% @study_fields.each do |study_field| %>
            <div class="col-sm-4">
              <p style="text-align: center; font-size: 1em "><%= study_field.title %></p>
              <p style="text-align: center; font-size: 0.7em"><%= study_field.subtitle %></p>
              <div style="display: flex; justify-content: space-around; font-size: 0.8em; margin: 5px 0;">
                <%# study_field.study_variables.each do |variable| %>
                  <!-- <div>
                    <i class="fas fa-circle" style="color: <%#= variable.color %>"></i>
                    <span style="text-align: center"><%#= variable.name %></span>
                  </div> -->
                <%# end %>
              </div>
              <div class="graph" style="background: white; margin: 10px 0; padding: 30px; border-radius: 4px;">
                <canvas id="<%= study_field.title %>" data-title="<%= study_field.title %>"></canvas>
              </div>
            </div>
            <script>
              var title = <%= study_field.title.inspect.html_safe %>;
              var ctx = document.getElementById(title);
              var variables = <%= study_field.study_variables.map(&:value).inspect.html_safe %>;
              var colors = <%= study_field.study_variables.map(&:color).inspect.html_safe %>;
              var labels = <%= study_field.study_variables.map(&:name).inspect.html_safe %>;
              var data = {
                  datasets: [{
                      data: variables,
                      backgroundColor: colors,
                      borderWidth: 0,
                      hoverBackgroundColor: '#C3DCBD'
                  }],
                  labels: labels,
                  radius: '10%',
              };
              var options = {
                responsive: true,
                cutoutPercentage: 80,

                legend: {
                  position: 'bottom',
                  display: false,
                },

              }
              var chart = new Chart(ctx, {
                type: 'doughnut',
                data: data,
                options: options
              });
            </script>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
